<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Order</title>
</head>
<body>
    

<form action="/viewall" method="get">
    <input type="submit" value="View All Orders"> 
</form>


<form action="/viewall" method="post">
    <input type="text" placeholder="Name" name="name"> <br>
    <input type="text" placeholder="Address" name="address"> <br>
    <input type="number" name="" id="" placeholder="BattlePass"> <br>
    <input type="number" name="" id="" placeholder="FartniteCard"> <br>
    <input type="number" name="" id="" placeholder="DLC"> <br>
    <input type="submit" value="Enter">

</form>


</body>
</html>