<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Order</title>
</head>
<body>
    


        <form action="/all" method="get">
            <button type="submit">All Orders</button>
        </form>

        <br>

        <form action="/" method="post">
            <input type="text" name = "name"placeholder="Name...">
            <br>
            <input type="text" name="address" placeholder="Address...">
            <br>
            <br>
            <input type="number" name="ammount1" placeholder="Battlepass">
            <br>
            <input type="number" name="ammount2" placeholder="Fortnite Card">
            <br>
            <input type="number" name="ammount3" placeholder="Preorder DLC">
            <br>
            <input type="submit" value="Submit">
        </form>


</body>
</html>